{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container my-4 mb-5">
    <div class="row mb-3">
        <div class="col-lg-12">
            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <!-- Mostrar número de artículos y precio total del carrito -->
                <h5>Items: <strong>{{ order.items.count }}</strong></h5>
                <h5>Total: <strong>${{ order.get_total_price }}</strong></h5>
                <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-12">
            <table class="table table-hover align-middle text-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items.all %}
                    <tr>
                        <td class="d-flex align-items-center">
                            <img class="img-fluid rounded" src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'images/placeholder.png' %}{% endif %}" alt="{{ item.product.name }}" style="width: 70px; height: 70px; object-fit: cover;">
                            <p class="ms-3 mb-0">{{ item.product.name }}</p>
                        </td>
                        <td><strong>${{ item.price }}</strong></td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <!-- Botones para cambiar la cantidad -->
                                <a href="{% url 'decrease_quantity' item.id %}" class="btn btn-outline-secondary btn-sm me-2">-</a>
                                <span>{{ item.quantity }}</span>
                                <a href="{% url 'add_to_cart' item.product.id %}" class="btn btn-outline-secondary btn-sm ms-2">+</a>
                            </div>
                        </td>
                        <td><strong>${{ item.get_total_item_price }}</strong></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    
    body {
        background-color: #f6f6f6;
    }
    
    .chg-quantity {
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    .row-image {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 5px;
    }

</style>
{% endblock content %}
