{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="contact-page">
    <!-- Contenedor del contenido de la página de contacto -->
    <div class="col-md-10 contact-content text-center text-white">
        <div class="col-md-12">
            <img src="{% static 'images/letters-contact.png' %}" class="img-fluid rounded" alt="Contactanos">
        </div>

        <!-- Iconos de contacto -->
        <div class="container redes mt-4 mb-5">
            <div class="d-flex justify-content-center gap-5">
                <!-- Facebook -->
                <a href="https://facebook.com" target="_blank" class="d-flex align-items-center text-white text-decoration-none">
                    <i class="fab fa-facebook-f rounded-circle bg-white text-primary" style="padding:0.5rem 0.8rem;"></i>
                    <span class="ms-2">Entelco SAS</span>
                </a>
        
                <!-- Instagram -->
                <a href="https://instagram.com" target="_blank" class="d-flex align-items-center text-white text-decoration-none">
                    <i class="fab fa-instagram rounded-circle bg-white text-primary" style="padding:0.5rem 0.6rem;"></i>
                    <span class="ms-2">@entelcoyo_sas1</span>
                </a>
        
                <!-- WhatsApp -->
                <a href="https://wa.me/3165259154" target="_blank" class="d-flex align-items-center text-white text-decoration-none">
                    <i class="fab fa-whatsapp rounded-circle bg-white text-primary" style="padding:0.5rem 0.6rem;"></i>
                    <span class="ms-2">316 5259154</span>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    /* Estilos de la página de contacto */
    .contact-page {
        background: url("{% static 'images/fondo-contacto.png' %}") no-repeat fixed;
        background-size: cover;
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .contact-content {
        background: rgba(0, 0, 0, 0.6);
        padding: 2rem;
        border-radius: 15px;
        
    }

    .redes a {
        font-size: 1.5rem;
    }

    .contact-icon img {
        width: 40px;
        height: 40px;
        transition: transform 0.3s;
    }

    .contact-icon img:hover {
        transform: scale(1.2);
    }

    h1, h2 {
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    }

    .text-success {
        color: #7FFF00; /* Color verde claro */
    }
</style>
{% endblock %}
