{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Mis Productos</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if product.image %}
                    <!-- Si el producto tiene imagen -->
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                    <!-- Si no tiene imagen, mostramos una imagen de marcador de posición -->
                    <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>${{ product.price }}</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
