{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center fw-bold mb-4" style="color: #05478a;">Descubre Nuestros Productos</h1>
    
    
        <!-- Grid de categorías -->
    <div class="row text-center">
        <!-- Categoría 1 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="#" class="text-decoration-none">
                <div class="card h-100" style="cursor: pointer;">
                    <img src="{% static 'images/products-sist-foto.png' %}" class="card-img-top img-fluid" alt="Sistemas Fotovoltaicos">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h3 class="text-white fw-bold">Sistemas </br> Fotovoltaicos</h3>
                    </div>
                </div>
            </a>
        </div>

        <!-- Categoría 2 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="#" class="text-decoration-none">
                <div class="card h-100" style="cursor: pointer;">
                    <img src="{% static 'images/products-sist-elec.png' %}" class="card-img-top img-fluid" alt="Electrodomésticos Solares">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h3 class="text-white fw-bold">Electrodomésticos Solares</h3>
                    </div>
                </div>
            </a>
        </div>

        <!-- Categoría 3 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="#" class="text-decoration-none">
                <div class="card h-100" style="cursor: pointer;">
                    <img src="{% static 'images/products-sist-seg.png' %}" class="card-img-top img-fluid" alt="Conectividad y Seguridad">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h3 class="text-white fw-bold">Conectividad y Seguridad</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="col-lg-12 col-md-6 mb-4">
        <div class="card h-100" style="position: relative;"> <!-- Tarjeta con posición relativa -->
            <img src="{% static 'images/horizontal-boton.png' %}" class="card-img-top rounded img-fluid" alt="Conectividad y Seguridad">
            
            <!-- Botón "Cotiza Ahora" -->
            <div class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
                <a href="#" class="btn btn-primary btn-lg">Solicitar Asesor!</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="fw-bold" style="color: #05478a;">Sistemas Fotovoltaicos</h2>
    <hr style="margin-bottom: 3rem; border: 1px solid black; width: 100%;">
    <div class="row text-center">
        <!-- Producto 1 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card"  style="height: 95%;">
                <div class="space-images d-flex justify-content-center align-items-center" style="padding:1rem 0.5rem 0 0.5rem; height: 70%; overflow: hidden;">
                    <img src="{% static 'images/cat-paneles-solares.png' %}" class="card-img-top" alt="Producto 1" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-center">
                    <h3 class="card-title" style="font-size: 1.1rem;">Inversores de conexion de red</h3>
                </div>
            </div>
        </div>
    
        <!-- Producto 2 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card" style="height: 95%;">
                <div class="space-images d-flex justify-content-center align-items-center" style="padding:1rem 0.5rem 0 0.5rem; height: 70%; overflow: hidden;">
                    <img src="{% static 'images/cat-baterias-litio.png' %}" class="card-img-top img-fluid" alt="Producto 2" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-center">
                    <h3 class="card-title" style="font-size: 1.1rem;">Baterias de Litio</h3>
                </div>
            </div>
        </div>

        <!-- Producto 3 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card" style="height: 95%;">
                <div class="space-images d-flex justify-content-center align-items-center" style="padding:1rem 0.5rem 0 0.5rem; height: 70%; overflow: hidden;">
                    <img src="{% static 'images/cat-baterias-ciclo.png' %}" class="card-img-top img-fluid" alt="Producto 2" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-center">
                    <h3 class="card-title" style="font-size: 1.1rem;">Baterias de Litio</h3>
                </div>
            </div>
        </div>

        <!-- Producto 4 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card h-100">
                <div class="space-images" style="height: 70%; overflow: hidden;">
                    <img src="{% static 'images/cat-controlador-pwm.png' %}" class="card-img-top img-fluid" alt="Producto 4" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-end">
                    <h5 class="card-title">Producto 4</h5>
                </div>
            </div>
        </div>

        <!-- Producto 5 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card h-100">
                <div class="space-images" style="height: 70%; overflow: hidden;">
                    <img src="{% static 'images/product5.png' %}" class="card-img-top img-fluid" alt="Producto 5" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-end">
                    <h5 class="card-title">Producto 5</h5>
                </div>
            </div>
        </div>

        <!-- Producto 6 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card h-100">
                <div class="space-images" style="height: 70%; overflow: hidden;">
                    <img src="{% static 'images/product6.png' %}" class="card-img-top img-fluid" alt="Producto 6" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-end">
                    <h5 class="card-title">Producto 6</h5>
                </div>
            </div>
        </div>

        <!-- Producto 7 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card h-100">
                <div class="space-images" style="height: 70%; overflow: hidden;">
                    <img src="{% static 'images/product7.png' %}" class="card-img-top img-fluid" alt="Producto 7" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-end">
                    <h5 class="card-title">Producto 7</h5>
                </div>
            </div>
        </div>

        <!-- Producto 8 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card h-100">
                <div class="space-images" style="height: 70%; overflow: hidden;">
                    <img src="{% static 'images/product8.png' %}" class="card-img-top img-fluid" alt="Producto 8" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-end">
                    <h5 class="card-title">Producto 8</h5>
                </div>
            </div>
        </div>

        <!-- Producto 9 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card h-100">
                <div class="space-images" style="height: 70%; overflow: hidden;">
                    <img src="{% static 'images/product9.png' %}" class="card-img-top img-fluid" alt="Producto 9" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-end">
                    <h5 class="card-title">Producto 9</h5>
                </div>
            </div>
        </div>

        <!-- Producto 10 -->
        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card h-100">
                <div class="space-images" style="height: 70%; overflow: hidden;">
                    <img src="{% static 'images/product10.png' %}" class="card-img-top img-fluid" alt="Producto 10" style="width: auto; height: 100%;">
                </div>
                <div class="card-body p-2 d-flex justify-content-center align-items-end">
                    <h5 class="card-title">Producto 10</h5>
                </div>
            </div>
        </div>

    </div>    
</div>


<style>
    body {
        background-color: #f6f6f6;
    }
    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Añade una sombra suave */
        transform: scale(1.02);  /* Aumenta ligeramente el tamaño */
        transition: all 0.3s ease-in-out;  /* Hace la animación suave */
    }
</style>
{% endblock content %}
