{% extends 'store/main.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

<div class="container vh-100 mt-4" >
    <div class="row">
        
        <!-- Barra lateral de filtros por precio -->
        <div class="col-lg-3 d-none d-lg-block" style="margin-top: 3rem; padding-right: 2rem;">
            <h5 class="fw-bold mb-4">Filtrar por Precio</h5>
            <form method="GET" action="">
                <div class="range-slider mb-3">
                    <!-- Input para el precio mínimo -->
                    <label for="priceMin" class="form-label">Precio Mínimo</label>
                    <input 
                        type="range" 
                        class="form-range" 
                        id="priceMin" 
                        name="price_min" 
                        min="0" 
                        max="10000000" 
                        step="50000" 
                        value="{{ request.GET.price_min|default:'0' }}">
                    <span id="minPriceLabel" class="d-block text-primary fw-bold">$0</span>
                    
                    <!-- Input para el precio máximo -->
                    <label for="priceMax" class="form-label mt-3">Precio Máximo</label>
                    <input 
                        type="range" 
                        class="form-range" 
                        id="priceMax" 
                        name="price_max" 
                        min="0" 
                        max="10000000" 
                        step="50000" 
                        value="{{ request.GET.price_max|default:'10000000' }}">
                    <span id="maxPriceLabel" class="d-block text-primary fw-bold">$10'000.000</span>
                </div>
                
                <!-- Botón de aplicar filtros -->
                <button type="submit" class="btn btn-primary mt-3 w-100">Aplicar Filtros</button>
            </form>
        </div>



        <!-- Sección principal de productos -->
        <div class="col-lg-9 mb-5">
            <!-- Título -->
            <div class="col-12">
                <div class="d-flex cat1 justify-content-between align-items-center mb-1">
                    <h1 class="fw-bold mb-2">{{ subcategory.name }}</h1>
                </div>
            </div>
            <hr style="margin:0 0 1.2rem 0; border: 1px solid rgb(56, 56, 56); width: 100%;">

            <!-- Filtro para Mobile (Colapsable) -->
            <div class="col-12 d-lg-none mb-3">
                <button class="btn btn-filtro w-100" type="button" data-bs-toggle="collapse" data-bs-target="#mobileFilter" aria-expanded="false" aria-controls="mobileFilter">
                    Filtrar por
                </button>
                <div class="collapse mt-3" id="mobileFilter">
                    <div class="card card-body">
                        <!-- Filtros de Precio -->
                        <form method="GET" action="">
                            <div class="range-slider mb-3">
                                <!-- Precio Mínimo -->
                                <label for="priceMinMobile" class="form-label">Precio Mínimo</label>
                                <input 
                                    type="range" 
                                    class="form-range" 
                                    id="priceMinMobile" 
                                    name="price_min" 
                                    min="0" 
                                    max="10000000" 
                                    step="50000" 
                                    value="{{ request.GET.price_min|default:'0' }}">
                                <span id="minPriceLabelMobile" class="d-block text-primary fw-bold">$0</span>
            
                                <!-- Precio Máximo -->
                                <label for="priceMaxMobile" class="form-label mt-3">Precio Máximo</label>
                                <input 
                                    type="range" 
                                    class="form-range" 
                                    id="priceMaxMobile" 
                                    name="price_max" 
                                    min="0" 
                                    max="10000000" 
                                    step="50000" 
                                    value="{{ request.GET.price_max|default:'10000000' }}">
                                <span id="maxPriceLabelMobile" class="d-block text-primary fw-bold">$10'000.000</span>
                            </div>
            
                            <!-- Botón para aplicar filtros -->
                            <button type="submit" class="btn btn-primary mt-3 w-100">Aplicar Filtros</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- Grid de productos -->
            <div class="container mt-4">
                <div class="row text-center">
                    {% for product in products %}
                        <div class="col-6 col-lg-4 col-md-6 mb-4">
                            <a href="{% url 'product_detail' product.slug %}" class="text-decoration-none text-dark">
                                <div class="card h-100">
                                    <!-- Contenedor de imagen -->
                                    <div class="space-images d-flex justify-content-center align-items-center" style="padding: 1rem; overflow: hidden; aspect-ratio: 1/1;">
                                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/default.jpg' %}{% endif %}" 
                                            class="card-img-top img-fluid" 
                                            alt="{{ product.name }}" 
                                            style="object-fit: contain; max-height: 100%; width: auto;">
                                    </div>
                                    {% if not product.is_active %}
                                        <span class="badge bg-secondary position-absolute top-0 end-0 m-2">
                                            Agotado
                                        </span>
                                    {% elif product.discount_percentage %}
                                    <span class="badge bg-danger position-absolute top-0 end-0 m-2">
                                        OFERTA
                                    </span>
                                    {% endif %}
                                    <!-- Descripción del producto -->
                                    <div class="card-body d-flex align-items-start flex-column" style="padding:0 1.2rem;">
                                        <h6 class="card-title text-start product-title">{{ product.name }}</h6>
                                        <p class="m-0 text-primary fw-bold p-0">${{ product.price|format_cop }}</p>
                                    </div>
                                    <!-- Botones -->
                                    <div class="pb-3 card-footer bg-white border-0 d-flex justify-content-between align-items-center">
                                        <a href="{% url 'product_detail' product.slug %}" class="btn btn-outline-success1 btn-sm flex-grow-1 text-center me-2">
                                            Detalles
                                        </a>
                                        {% if product.is_active %}
                                            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary btn-sm d-flex align-items-center justify-content-center" style="width: 50px; height: 30px;">
                                                <img src="{% static '/images/carritoB.svg' %}" alt="Carrito de compras" style="width: 18px; height: 18px;">
                                            </a>
                                        {% else %}
                                            <a href="#" class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center" style="width: 50px; height: 30px;">
                                                <img src="{% static '/images/carritoB.svg' %}" alt="Carrito de compras" style="width: 18px; height: 18px;">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% empty %}
                        <p class="text-center">No hay productos disponibles en esta subcategoría.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    // Referencias para Escritorio
    const priceMinDesktop = document.getElementById('priceMin');
    const priceMaxDesktop = document.getElementById('priceMax');
    const minPriceLabelDesktop = document.getElementById('minPriceLabel');
    const maxPriceLabelDesktop = document.getElementById('maxPriceLabel');

    // Referencias para Móvil
    const priceMinMobile = document.getElementById('priceMinMobile');
    const priceMaxMobile = document.getElementById('priceMaxMobile');
    const minPriceLabelMobile = document.getElementById('minPriceLabelMobile');
    const maxPriceLabelMobile = document.getElementById('maxPriceLabelMobile');

    // Formatear número como moneda
    const formatCurrency = (value) => `$${value.toLocaleString('es-CO')}`;

    // Función para actualizar etiquetas (genérica)
    const updateLabels = (priceMin, priceMax, minLabel, maxLabel) => {
        const minValue = parseInt(priceMin.value, 10);
        const maxValue = parseInt(priceMax.value, 10);

        // Ajustar valores si se cruzan
        if (minValue > maxValue) {
            priceMin.value = maxValue - 50000; // Ajustar dinámicamente
        }

        // Actualizar etiquetas
        minLabel.textContent = formatCurrency(priceMin.value);
        maxLabel.textContent = formatCurrency(priceMax.value);
    };

    // Listeners para Escritorio
    if (priceMinDesktop && priceMaxDesktop) {
        const updateLabelsDesktop = () => updateLabels(priceMinDesktop, priceMaxDesktop, minPriceLabelDesktop, maxPriceLabelDesktop);
        priceMinDesktop.addEventListener('input', updateLabelsDesktop);
        priceMaxDesktop.addEventListener('input', updateLabelsDesktop);
        updateLabelsDesktop(); // Inicializar
    }

    // Listeners para Móvil
    if (priceMinMobile && priceMaxMobile) {
        const updateLabelsMobile = () => updateLabels(priceMinMobile, priceMaxMobile, minPriceLabelMobile, maxPriceLabelMobile);
        priceMinMobile.addEventListener('input', updateLabelsMobile);
        priceMaxMobile.addEventListener('input', updateLabelsMobile);
        updateLabelsMobile(); // Inicializar
    }
});


</script>

<style>
    body {
        background-color: #f6f6f6;
    
    }

    .cat1 {
        color: #05478a;
    }

    .btn-outline-success1 {
        border-color: #96c952;
        color: #96c952;
    }
    
    .btn-outline-success1:hover {
        background-color: #96c952;
        color: white;
    }
    .list-group-item {
        border: none;
    }

    .card:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        transform: scale(1.03);
        transition: all 0.3s ease-in-out;
    }

    .card-footer .btn {
        width: 100%;
    }

    .space-images img {
        object-fit: cover;
        height: 100%;
        width: auto;
    }

    .product-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* Limita a 2 líneas */
        line-clamp: 2; 
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.4em;
        width: 100%; /* Ajusta el ancho para evitar desbordamientos */
        white-space: normal; /* Asegura que el texto haga salto de línea */
        font-size: 1.1rem;
        height: 2.8em;
        line-height: 1.4em;
    }
    

    @media (max-width: 768px) {
        .product-title {
            font-size: 1rem;
        }
        .cat1 {
            justify-content: center !important;
            margin: 0;
        }
        .btn-filtro {
            background-color: #d4d5d6;
            color: white;
            border: none;
        }
        .btn-filtro:hover {
            background-color: #d4d5d6;
            color: white;
        }
    }

</style>

{% endblock %}
