{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <!-- Barra lateral de filtros -->
        <div class="col-lg-3 mt-5">
            <h5 class="fw-bold mb-3">Filtrar por</h5>
            
            <h6 class="fw-bold">Marca</h6>
            <ul class="list-group mb-4">
                <li class="list-group-item">
                    <input type="checkbox" id="brand1" name="brand1"> <label for="brand1" class="ms-2">AIKO</label>
                </li>
                <!-- Añade más marcas aquí -->
            </ul>
            
            <h6 class="fw-bold">Potencia (W)</h6>
            <ul class="list-group">
                <li class="list-group-item">
                    <input type="checkbox" id="power1" name="power1"> <label for="power1" class="ms-2">350 - 395</label>
                </li>
                <!-- Añade más opciones de potencia aquí -->
            </ul>
        </div>



        <!-- Sección principal de productos -->
        <div class="col-lg-9">
            <div class="d-flex justify-content-between align-items-center mb-1">
                <h1 class="fw-bold mb-2">{{ subcategory.name }}</h1>
            </div>
            <hr>
            <!-- Grid de productos -->
            <div class="container mt-4">
                <div class="row text-center">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100" >
                                <!-- Contenedor de imagen con aspecto 1:1 y ajuste de altura -->
                                <div class="space-images d-flex justify-content-center align-items-center" style="padding: 1rem; overflow: hidden; aspect-ratio: 1/1;">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/default.jpg' %}{% endif %}" 
                                        class="card-img-top img-fluid" 
                                        alt="{{ product.name }}" 
                                        style="object-fit: contain; max-height: 100%; width: auto;">
                                </div>
                                
                                <!-- Descripción del producto -->
                                <div class="card-body d-flex align-items-start flex-column" style="padding:0 1.2rem;">
                                    <h6 class="card-title text-start product-title">{{ product.name }}</h6>
                                    <p class="m-0 text-primary fw-bold p-0">${{ product.price|floatformat:2 }}</p>
                                </div>
                                
                                <!-- Botones de "Detalles" y "Agregar al carrito" -->
                                <div class="pb-3 card-footer bg-white border-0 d-flex justify-content-between align-items-center">
                                    <a href="{% url 'product_detail' product.slug %}" class="btn btn-outline-primary btn-sm flex-grow-1 text-center me-2">
                                        Detalles
                                    </a>
                                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary btn-sm d-flex align-items-center justify-content-center" style="width: 50px; height: 30px;">
                                        <img src="{% static '/images/carritoB.svg' %}" alt="Carrito de compras" style="width: 18px; height: 18px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="text-center">No hay productos disponibles en esta subcategoría.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f6f6f6;
    }

    .list-group-item {
        border: none;
    }

    .card:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        transform: scale(1.03);
        transition: all 0.3s ease-in-out;
    }

    .card-footer .btn {
        width: 100%;
    }

    .space-images img {
        object-fit: cover;
        height: 100%;
        width: auto;
    }

    .product-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.4em;
        width: 90%; /* Ajusta el ancho para evitar desbordamientos */
        white-space: normal; /* Asegura que el texto haga salto de línea */
        font-size: 1.1rem;
        height: 2.8em;
        line-height: 1.4em;
    }

</style>

{% endblock %}
