{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center fw-bold mb-4" style="color: #05478a;">Descubre Nuestros Productos</h1>

    <!-- Grid de categorías -->
    <div class="row text-center">
        <!-- Categoría 1 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="#" class="text-decoration-none">
                <div class="card h-100" style="cursor: pointer;">
                    <img src="{% static 'images/products-sist-foto.png' %}" class="card-img-top img-fluid" alt="Sistemas Fotovoltaicos">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h3 class="text-white fw-bold">Sistemas </br> Fotovoltaicos</h3>
                    </div>
                </div>
            </a>
        </div>

        <!-- Categoría 2 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="#" class="text-decoration-none">
                <div class="card h-100" style="cursor: pointer;">
                    <img src="{% static 'images/products-sist-elec.png' %}" class="card-img-top img-fluid" alt="Electrodomésticos Solares">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h3 class="text-white fw-bold">Electrodomésticos Solares</h3>
                    </div>
                </div>
            </a>
        </div>

        <!-- Categoría 3 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="#" class="text-decoration-none">
                <div class="card h-100" style="cursor: pointer;">
                    <img src="{% static 'images/products-sist-seg.png' %}" class="card-img-top img-fluid" alt="Conectividad y Seguridad">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h3 class="text-white fw-bold">Conectividad y Seguridad</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-12 col-md-6 mb-4">
        <div class="card h-100" style="position: relative;"> <!-- Tarjeta con posición relativa -->
            <img src="{% static 'images/horizontal-boton.png' %}" class="card-img-top rounded img-fluid" alt="Conectividad y Seguridad">
            
            <!-- Botón "Cotiza Ahora" -->
            <div class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
                <a href="#" class="btn btn-primary btn-lg">Solicitar Asesor!</a>
            </div>
        </div>
    </div>
</div>

<!-- Mostrar primero "Sistemas Fotovoltaicos" -->
{% for data in category_data %}
    {% if data.category.name == "Sistemas Fotovoltaicos" %}
        <div class="container mt-5">
            <h2 class="fw-bold" style="color: #05478a;">{{ data.category.name }}</h2>
            <hr style="margin-bottom: 3rem; border: 1px solid black; width: 100%;">
            <div class="row">
                {% for subcategory_data in data.subcategories %}
                    <div class="col-lg-2 col-md-6 mb-4">
                        <a href="{% url 'products_list' subcategory_data.subcategory.slug %}" class="text-decoration-none">
                            <div class="card" style="height: 95%;">
                                <div class="space-images d-flex justify-content-center align-items-center" style="padding:1rem 0.5rem 0 0.5rem; height: 70%; overflow: hidden; aspect-ratio: 3/4;">
                                    <!-- Verifica si la subcategoría tiene imagen -->
                                    <img src="{% if subcategory_data.subcategory.image %}{{ subcategory_data.subcategory.image.url }}{% else %}{% static 'images/default.jpg' %}{% endif %}" class="card-img-top img-fluid" alt="{{ subcategory_data.subcategory.name }}" style="width: auto; height: 100%; object-fit: contain;">
                                </div>
                                <div class="card-body p-2 d-flex justify-content-center align-items-center">
                                    <h3 class="card-title" style="font-size: 1.1rem; padding-left: 4%;">{{ subcategory_data.subcategory.name }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                {% empty %}
                <p class="text-center">No hay subcategorías disponibles.</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}


<!-- Mostrar otras categorías después -->
{% for data in category_data %}
    {% if data.category.name != "Sistemas Fotovoltaicos" %}
    <div class="container mt-5">
        <h2 class="fw-bold" style="color: #05478a;">{{ data.category.name }}</h2>
        <hr style="margin-bottom: 3rem; border: 1px solid black; width: 100%;">
        <div class="row">
            {% for subcategory_data in data.subcategories %}
                <div class="col-lg-2 col-md-6 mb-4">
                    <a href="{% url 'products_list' subcategory_data.subcategory.slug %}" class="text-decoration-none">
                        <div class="card" style="height: 95%;">
                            <div class="space-images d-flex justify-content-center align-items-center" style="padding:1rem 0.5rem 0 0.5rem; height: 70%;  overflow: hidden; aspect-ratio: 3/4;">
                                <!-- Verifica si la subcategoría tiene imagen -->
                                <img src="{% if subcategory_data.subcategory.image %}{{ subcategory_data.subcategory.image.url }}{% else %}{% static 'images/default.jpg' %}{% endif %}" class="card-img-top img-fluid" alt="{{ subcategory_data.subcategory.name }}" style="width: auto; height: 100%; object-fit: contain;">
                            </div>
                            <div class="card-body p-2 d-flex justify-content-center align-items-center">
                                <h3 class="card-title" style="font-size: 1.1rem; padding-left: 4%;">{{ subcategory_data.subcategory.name }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
            <p class="text-center">No hay subcategorías disponibles.</p>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endfor %}

<style>
    body {
        background-color: #f6f6f6;
    }
    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Añade una sombra suave */
        transform: scale(1.02);  /* Aumenta ligeramente el tamaño */
        transition: all 0.3s ease-in-out;  /* Hace la animación suave */
    }
</style>
{% endblock content %}
