{% extends 'store/main.html' %}
{% load custom_filters %}  
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row g-4 align-items-stretch">
        <!-- Imagen del producto -->
        <div class="col-lg-7 col-md-12 d-flex  justify-content-center align-items-center">
            <div class="product-image-wrapper w-100">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/placeholder.png' %}{% endif %}" 
                     class="img-fluid imagen-detalle bg-white shadow-sm rounded" 
                     alt="{{ product.name }}" 
                     style="object-fit: contain; width: 100%; max-height: 400px; border: 1px solid #dee2e6;">
            </div>
        </div>

        <!-- Detalles del producto -->
        <div class="col-lg-5 col-md-12 d-flex">
            <div class="product-details-wrapper p-5 bg-white shadow-sm rounded w-100 d-flex flex-column" style="border: 1px solid #dee2e6;">
                <h2 class="mb-3">{{ product.name }}</h2>
                <h4 class="text-success mb-3"><strong>${{ product.price|format_cop }}</strong></h4>
                <p class="text-muted mb-0"><strong>Referencia: </strong> {{ product.ref }}</p>
                
                <!-- Envío a toda Colombia -->
                <p class="text-muted mt-3 mb-3"><strong>Envíos a todo Colombia</strong></p>
                
                <!-- Selección de cantidad -->
                <div class="quantity-wrapper d-flex align-items-center mb-3">
                    <label for="quantity" class="text-muted form-label me-2"><strong>Cantidad:</strong></label>
                    <div class="input-group" style="width: 80px;">
                        <input type="number" id="quantity" name="quantity" value="1" min="1" class="form-control text-start">
                    </div>
                </div>

                <!-- Botones de acción -->
                <div class="mt-auto d-flex gap-2">
                    <a href="#" onclick="buyNow()" class="btn btn-primary w-50">Comprar Ahora</a>
                    <a href="#" onclick="addToCart()" class="btn btn-outline-success w-50">Añadir al Carrito</a>
                </div>
            </div>
        </div>
    </div>


    <div class="card mt-4">
        <!-- Tabs -->
        <ul class="nav nav-tabs" id="productDetailsTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">
                    Descripción
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="specifications-tab" data-bs-toggle="tab" data-bs-target="#specifications" type="button" role="tab" aria-controls="specifications" aria-selected="false">
                    Especificaciones
                </button>
            </li>
        </ul>
    
        <!-- Tab Content -->
        <div class="tab-content p-3" id="productDetailsTabsContent">
            <!-- Descripción -->
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <p class="text-muted"><strong>Descripción:</strong> {{ product.description }}</p>
            </div>
    
            <!-- Especificaciones -->
            <div class="tab-pane fade" id="specifications" role="tabpanel" aria-labelledby="specifications-tab">
                <h5 class="mt-3">Especificaciones</h5>
                <ul class="list-group list-group-flush mb-4">
                    {% for attribute in attributes %}
                        <li class="list-group-item">{{ attribute.attribute.name }}: {{ attribute.value }}</li>
                    {% empty %}
                        <li class="list-group-item text-muted">No hay especificaciones disponibles.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    

    <!-- Productos Similares -->
    <div class="container mt-5 mb-5">
        <h4 class="fw-bold mb-4" style="color: #05478a;">Productos Similares</h4>
        <hr style="margin-bottom: 2rem; border: 1px solid black; width: 100%;">

        <div class="row">
            {% for similar_product in similar_products %}
                <div class="col-6 col-lg-2 col-md-6 mb-4">
                    <a href="{% url 'product_detail' similar_product.slug %}" class="text-decoration-none">
                        <div class="card h-100" style="height: 95%;">
                            <div class="space-images d-flex justify-content-center align-items-center" style="padding:1rem 0.5rem 0 0.5rem; height: 70%; overflow: hidden; aspect-ratio: 3/4;">
                                <img src="{% if similar_product.image %}{{ similar_product.image.url }}{% else %}{% static 'images/default.jpg' %}{% endif %}" class="card-img-top img-fluid" alt="{{ similar_product.name }}" style="width: auto; height: 100%; object-fit: contain;">
                            </div>
                            <div class="card-body p-2 d-flex justify-content-center align-items-center">
                                <h3 class="card-title text-center" style="font-size: 1.1rem; padding-left: 4%;">{{ similar_product.name|truncatechars:30 }}</h3>
                            </div>
                            <div class="card-footer bg-white text-center">
                                <p class="text-success fw-bold mb-0">${{ similar_product.price|format_cop }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p class="text-center text-muted">No hay productos similares disponibles.</p>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Asegura que el body ocupe toda la altura del viewport */
    }

    .container {
        flex: 1; /* El contenido principal se expande para ocupar el espacio disponible */
    }

    /* Asegura que ambos bloques de imagen y detalles ocupen la misma altura */
    .product-image-wrapper, .product-details-wrapper {
        height: 100%;
    }

    /* Ajuste en imágenes de productos similares */
    .card-img-top {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }
    .nav-tabs .nav-link {
        color: #333;
        font-weight: bold;
        border: none;
    }

    .nav-tabs .nav-link.active {
        background-color: #8f9eada2;
        color: white;
    }

    .tab-content {
        background: #f8f9fa;
        border: 1px solid #dee2e6;
        border-top: none;
        border-radius: 0 0 0.25rem 0.25rem;
    }


    @media (max-width: 768px) {
        .imagen-detalle {
            max-height: 300px !important;
        }
        .product-details-wrapper {
            padding: 2rem !important;
        }
    }
</style>

<script>
    function buyNow() {
        const quantity = document.getElementById('quantity').value;
        const productId = "{{ product.id }}";
        window.location.href = `{% url 'buy_now' product.id %}?quantity=${quantity}`;
    }

    function addToCart() {
        const quantity = document.getElementById('quantity').value;
        const productId = "{{ product.id }}";
        window.location.href = `{% url 'add_to_cart' product.id %}?quantity=${quantity}`;
    }
</script>

{% endblock content %}
