{% extends 'store/main.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./static/images/Energia1.png" class="d-block w-100 imagen1" alt="Imagen de fondo del carrusel" />
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center">
                <!-- Título principal -->
                <h1 class="carousel-title">¡Descubre el Sistema de Energía Solar Perfecto para Ti!</h1>
                <!-- Subtítulo -->
                <p class="carousel-subtitle">Explora en nuestro catálogo de productos todo lo que tenemos para ti</p>
                <!-- Botón -->
                <a href="{% url 'products' %}" class="boton-cotizacion btn btn-lg">Explorar Productos</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./static/images/Energia2.png" class="d-block w-100 imagen2" alt="Imagen de fondo del carrusel2" />
            <div class="overlay"></div>
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-start text-start">
                <!-- Título principal -->
                <h1 class="carousel-title2 desktop-title">¿Tienes en Mente un<br>Proyecto Solar?<br>¡Hablemos!</h1>
                <h1 class="carousel-title2 mobile-title">¿Tienes en Mente un Proyecto Solar? ¡Hablemos!</h1>
                <!-- Subtítulo -->
                <p class="carousel-subtitle2">Nuestros expertos están aquí para ayudarte. Solicita una consulta gratuita y resuelve todas tus preguntas.</p>
                <!-- Botón -->
                <div class="boton-expert-container">
                    <a href="https://wa.me/573165259154?text=Hola,%20estoy%20interesado%20en%20conocer%20más%20sobre%20sus%20productos.%20¿Podrían%20ayudarme?" 
                    target="_blank" class="boton-expert btn btn-primary btn-lg">
                        Habla con un Experto
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container mt-5">
    <div class="row mb-4 rowBig">
        <!-- Producto destacado con featured_order=1 -->
        <div class="col-lg-8 col-md-12 colA" style="padding-right: 4px;">
            <div class="card cardA shadow-sm h-100" style="padding: 5% 0 0 6%;">
                <div class="row rowA g-3 align-items-center">
                    {% if featured_product_1 %}
                    
                        <!-- Columna de texto -->
                        <div class="col-md-6 col-12 m-0 ordenA">
                            <h1 class="tituloA textoAzul" style="font-size: 1.8rem;">
                                {{ featured_product_1.name }}
                            </h1>
                            <!-- Imagen móvil -->
                            <div class="imgA-mobile text-center">
                                <a href="{% url 'product_detail' featured_product_1.slug %}" style="color: inherit; text-decoration: none; margin: 0;">
                                    <img src="{{ featured_product_1.image.url }}" class="img-fluid imgA" alt="{{ featured_product_1.name }}">
                                </a>
                            </div>
                            <p class="card-text mt-3" style="color: #333;">
                                {{ featured_product_1.description }}
                            </p>
                            <h3 class="text-primary fw-bold">${{ featured_product_1.price|format_cop }}</h3>
                            <a href="{% url 'product_detail' featured_product_1.slug %}" class="btn btn-success btn-block mt-3">COMPRAR ></a>
                        </div>
                        <!-- Columna de imagen -->
                         
                        <div class="col-md-6 col-12 text-center imgA-desktop">
                            <a href="{% url 'product_detail' featured_product_1.slug %}" style="color: inherit; text-decoration: none; margin: 0;">
                            <img src="{{ featured_product_1.image.url }}" class="img-fluid imgA" alt="{{ featured_product_1.name }}"
                                style="width: auto; max-height: 300px;">
                            </a>
                        </div>
                   
                    {% else %}
                        <!-- Producto DEFAULT ("1") -->
                        <!-- Columna de texto -->
                        <div class="col-md-6 col-12 m-0 ordenA">
                            <h1 class="tituloA textoAzul" style="font-size: 2rem;">
                                Sistema Fotovoltaico Residencial Completo
                            </h1>
                            <!-- Imagen movil-->
                            <div class="imgA-mobile text-center">
                                <img src="./static/images/combo-energia.png" class="img-fluid imgA" alt="Producto Principal">
                            </div>
                            <p class="card-text mt-3" style="color: #333;">
                                Ahorra hasta un 80% en tu factura de luz. Incluye paneles solares, inversor y baterías. Instalación incluida.
                            </p>
                            <h3 class="text-primary fw-bold">$7'000.000</h3>
                            <a href="#" class="btn btn-success btn-block mt-3">COMPRAR ></a>
                        </div>
                        <!-- Columna de imagen -->
                        <div class="col-md-6 col-12 text-center imgA-desktop">
                            <img src="./static/images/combo-energia.png" class="img-fluid imgA" alt="Producto Principal"
                            style="width: auto; max-height: 300px;">
                        </div>               
                    {% endif %}                    
                </div>
            </div>
        </div>



        <!-- Productos pequeños ("2" y "3") -->
        <div class="col-lg-4 col-md-12">
            <div class="row">
                <!-- Producto pequeño "2" -->
                <div class="col-6 col-lg-12 mb-3 colB">
                    <div class="card cardB shadow-sm h-100" style="padding: 6% 8%">
                        <div class="d-flex flex-wrap align-items-center flex-md-row flex-column">
                            {% if featured_product_2 %}
                                <!-- Imagen -->
                                <div class="col-md-5 col-12 text-center order-md-2 order-1 mb-3 mb-md-0 contenedorBC">
                                    <a href="{% url 'product_detail' featured_product_2.slug %}" style="color: inherit; text-decoration: none; margin: 0;">
                                        <img src="{{ featured_product_2.image.url }}" class="img-fluid p-0 imgB" alt="{{ featured_product_2.name }}" style="aspect-ratio:1/1; max-width: 130px; height: auto;">
                                    <a>
                                </div>
                                <!-- Contenido -->
                                <div class="col-md-7 col-12 text-md-start text-center order-md-1 order-2 contenidoB">
                                    <h3 class="card-title-small product-title" style="font-size: 1.2rem; font-weight: bold; color: rgb(78, 75, 75);">
                                        {{ featured_product_2.name }}
                                    </h3>
                                    <h4 class="text-primary fw-bold" style="font-size: 1.4rem;">${{ featured_product_2.price|format_cop }}</h4>
                                    <a href="{% url 'product_detail' featured_product_2.slug %}" class="btn btn-success btn-sm mt-2">COMPRAR ></a>
                                </div>
                            {% else %}
                                <!-- Contenido por defecto "2" -->
                                <div class="col-md-5 col-12 text-center order-md-2 order-1 mb-3 mb-md-0 contenedorBC">
                                    <img src="./static/images/starlink.png" class="img-fluid p-0 imgB" alt="Producto Secundario 1" style="aspect-ratio:1/1; max-width: 130px; height: auto;">
                                </div>
                                <div class="col-md-7 col-12 text-md-start text-center order-md-1 order-2 contenidoB">
                                    <h3 class="card-title-small textoAzul" style="font-size: 1.2rem; font-weight: bold;">
                                        Internet Satelital <span style="color: rgb(78, 75, 75);">Antena Starlink</span>
                                    </h3>
                                    <h4 class="text-primary fw-bold">$3'000.000</h4>
                                    <a href="#" class="btn btn-success btn-sm mt-2">COMPRAR ></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Producto pequeño "3" -->
                <div class="col-6 col-lg-12 colC">
                    <div class="card cardC shadow-sm h-100" style="padding: 6% 6% 6% 3%">
                        <div class="d-flex flex-wrap align-items-center flex-md-row flex-column">
                            {% if featured_product_3 %}
                                <!-- Imagen -->
                                <div class="col-md-3 col-12 text-center order-md-1 order-1 mb-3 mb-md-0 contenedorBC">
                                    <a href="{% url 'product_detail' featured_product_3.slug %}" style="color: inherit; text-decoration: none; margin: 0;">
                                        <img src="{{ featured_product_3.image.url }}" class="img-fluid pt-3 imgC" alt="{{ featured_product_3.name }}" style="max-width: 188%; height: auto;">
                                    <a>
                                </div>
                                <!-- Contenido -->
                                <div class="col-md-9 col-12 text-md-end text-center order-md-2 order-2 contenidoC">
                                    <h3 class="card-title-small product-title" style="font-size: 1.2rem; font-weight: bold; color: rgb(78, 75, 75);">
                                        {{ featured_product_3.name }}
                                    </h3>
                                    <h4 class="text-primary fw-bold" style="font-size: 1.4rem;">${{ featured_product_3.price|format_cop }}</h4>
                                    <a href="{% url 'product_detail' featured_product_3.slug %}" class="btn btn-success btn-sm mt-2">COMPRAR ></a>
                                </div>
                            {% else %}
                                <!-- Contenido por defecto "3" -->
                                <div class="col-md-3 col-12 text-center order-md-1 order-1 mb-3 mb-md-0 contenedorBC">
                                    <img src="./static/images/solar-air.png" class="img-fluid pt-3 imgC" alt="Producto Secundario 2" style="max-width: 188%; height: auto;">
                                </div>
                                <div class="col-md-9 col-12 text-md-end text-center order-md-2 order-2 contenidoC">
                                    <h3 class="card-title-small text-primary" style="font-size: 1.2rem; font-weight: bold;">
                                        Electrodoméstico Solar<br><span style="color: rgb(78, 75, 75);">Aire Acondicionado</span>
                                    </h3>
                                    <h4 class="text-primary fw-bold">$5'000.000</h4>
                                    <a href="#" class="btn btn-success btn-sm mt-2">COMPRAR ></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ******************** Beneficios adicionales *********************--> 
<!-- Versión para escritorio -->
<div class="container mt-3 d-none d-md-block">
    <div class="row m-0 bg-white" style="padding: 15px 0; border-radius: 8px;">
        <!-- Beneficio 1 -->
        <div class="col-3 col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
            <img src="./static/images/entrega.png" alt="Envío Rápido" class="img-fluid me-3" style="width: 43px;">
            <div>
                <h3 class="text-beneficios m-0" style="font-size: 1rem; font-weight: bold;">ENTREGAS RÁPIDAS</h3>
                <p class="text-muted m-0" style="font-size: 0.9rem;">Envíos 24/7</p>
            </div>
        </div>
        <!-- Beneficio 2 -->
        <div class="col-3 col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
            <img src="./static/images/colombia.png" alt="Envío Nacional" class="img-fluid me-3" style="width: 42px;">
            <div>
                <h3 class="text-beneficios m-0" style="font-size: 1rem; font-weight: bold;">ENVÍOS NACIONALES</h3>
                <p class="text-muted m-0" style="font-size: 0.9rem;">Cualquier parte del país</p>
            </div>
        </div>
        <!-- Beneficio 3 -->
        <div class="col-3 col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
            <img src="./static/images/tarjeta.png" alt="Pagos Seguros" class="img-fluid me-3" style="width: 55px;">
            <div>
                <h3 class="text-beneficios m-0" style="font-size: 1rem; font-weight: bold;">PAGOS SEGUROS</h3>
                <p class="text-muted m-0" style="font-size: 0.9rem;">Tu pago está seguro</p>
            </div>
        </div>
        <!-- Beneficio 4 -->
        <div class="col-3 col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
            <img src="./static/images/cliente.png" alt="Soporte 24/7" class="img-fluid me-3" style="width: 55px;">
            <div>
                <h3 class="text-beneficios m-0" style="font-size: 1rem; font-weight: bold;">SOPORTE 24/7</h3>
                <p class="text-muted m-0" style="font-size: 0.9rem;">Llamadas / mensajes</p>
            </div>
        </div>
    </div>
</div>

<!-- Versión para móvil -->
<div class="container mt-3 d-md-none">
    <div class="row m-0 bg-white" style="padding: 15px 0; border-radius: 8px;">
        <!-- Beneficio 1 -->
        <div class="col-3 d-flex flex-column align-items-center justify-content-center">
            <div class="container-icons">
                <img src="./static/images/entrega.png" alt="Envío Rápido" class="benefit-img">
            </div>
            <h3 class="benefit-title">ENTREGAS RÁPIDAS</h3>
        </div>
        <!-- Beneficio 2 -->
        <div class="col-3 d-flex flex-column align-items-center justify-content-center">
            <div class="container-icons">
                <img src="./static/images/colombia.png" alt="Envío Nacional" class="benefit-img">
            </div>
            <h3 class="benefit-title">ENVÍOS NACIONALES</h3>
        </div>
        <!-- Beneficio 3 -->
        <div class="col-3 d-flex flex-column align-items-center justify-content-center">
            <div class="container-icons">
                <img src="./static/images/tarjeta.png" alt="Pagos Seguros" class="benefit-img">
            </div>
            <h3 class="benefit-title">PAGOS SEGUROS</h3>
        </div>
        <!-- Beneficio 4 -->
        <div class="col-3 d-flex flex-column align-items-center justify-content-center">
            <div class="container-icons">
                <img src="./static/images/cliente.png" alt="Soporte 24/7" class="benefit-img">
            </div>
            <h3 class="benefit-title">SOPORTE 24/7</h3>
        </div>
    </div>
</div>



<!-- ********************* OFERTAS ESPECIALES *******************-->

<div class="container mt-5">
    <!-- Título de la sección -->
    <div class="col-12 text-center">
        <h1 class="text-white py-3 rounded" style="font-weight: bold; font-size: 1.6rem; background-color: rgba(0, 0, 0, 0.282);">OFERTAS ESPECIALES</h1>
    </div>
    

    <!-- Sección de ofertas -->
    <div class="row mt-4">
        <!-- Oferta Principal 4 (Columna grande) -->
        <div class="col-lg-6 col-md-12 mb-4 colA-OE" style="padding-right: 3px;">
            <div class="card shadow-lg h-100 cardA-OE" style="padding: 2rem 1.8rem 0 1.8rem;">
                {% if featured_product_4 %}
                <a href="{% url 'product_detail' featured_product_4.slug %}" style="color: inherit; text-decoration: none;">
                    <div class="d-flex justify-content-center align-items-center position-relative">
                        <img src="{{ featured_product_4.image.url }}" class="card-img-top" alt="{{ featured_product_4.name }}" style="max-width: 70%; height: auto;">
                        {% if featured_product_4.discounted_price %}
                            <span class="badge bg-danger position-absolute" style="top: -5%; right: -1.5%;">
                                {{ featured_product_4.discount_percentage|floatformat:0 }}% OFF
                            </span>
                        {% endif %}
                    </div>
                    <div class="card-body" style="padding: 1rem 0 0 1rem">
                        <h5 class="card-title" style="font-size: 1.4rem; font-weight: bold;">{{ featured_product_4.name }}</h5>
                        <p class="card-text">
                            {% if featured_product_4.discounted_price %}
                                <del>${{ featured_product_4.price|format_cop }}</del>
                                <strong class="text-primary"> ${{ featured_product_4.discounted_price|format_cop }}</strong>
                            {% else %}
                                <strong class="text-primary">${{ featured_product_4.price|format_cop }}</strong>
                            {% endif %}
                        </p>
                        <p>{{ featured_product_4.description }}</p>
                        <a href="{% url 'product_detail' featured_product_4.slug %}" class="btn btn-success boton-oferton">CONOCE MÁS ></a>
                    </div>
                </a>
                {% else %}
                    <!-- Contenido por defecto -->
                    <div class="d-flex justify-content-center align-items-center position-relative">
                        <img src="./static/images/prom-paneles.png" class="card-img-top" alt="Oferta principal" style="max-width: 70%; height: auto;">
                        <span class="badge bg-danger position-absolute top-0 end-0">20% OFF</span>
                    </div>
                    <div class="card-body" style="padding: 1rem 0 0 1rem">
                        <h5 class="card-title" style="font-size: 1.4rem; font-weight: bold;">¡Pack Familiar Solar con Descuento!</h5>
                        <p class="card-text">
                            <del>$2'000.000</del>
                            <strong class="text-primary"> $1'600.000</strong>
                        </p>
                        <p>Incluye paneles solares de distintas capacidades para cubrir el consumo familiar. Ahorra 20% y obtén soporte técnico gratis el primer año.</p>
                        <a href="#" class="btn btn-success boton-oferton">CONOCE EL PACK FAMILIAR ></a>
                    </div>
                {% endif %}
            </div>
        </div>


        <!-- Ofertas Secundarias (Tarjetas pequeñas) -->
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <!-- Oferta 5 -->
                <div class="col-6 col-md-6 colB-OE" style="padding: 0 3px; margin-bottom: 6px;">
                    <div class="card h-100 shadow-sm p-0" style="min-height: 233px;">
                        {% if featured_product_5 %}
                            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 50%;">
                                <img src="{{ featured_product_5.image.url }}" class="card-img-top img-fluid" alt="{{ featured_product_5.name }}" style="padding-top: 1.8rem; max-width: 62%; height: auto;">
                                
                                {% if featured_product_5.discount_percentage %}
                                    <span class="badge bg-danger position-absolute top-0 end-0 m-2">
                                        OFERTA
                                    </span>
                                {% endif %}
                                
                                <!-- Contenedor de los íconos -->
                                <div class="icon-container position-absolute top-50 start-50 translate-middle">
                                    <!-- Icono para ver detalles del producto -->
                                    <a href="{% url 'product_detail' featured_product_5.slug %}" style="color: inherit; text-decoration: none;">
                                        <img src="./static/images/eye-light.png" alt="Ver producto" class="eye-icon">
                                    </a>
                                    <!-- Icono para añadir al carrito -->
                                    <a href="{% url 'add_to_cart' featured_product_5.id %}" style="color: inherit; text-decoration: none;">
                                        <img src="./static/images/cart-light.png" alt="Carrito de compras" class="cart-icon me-2">
                                    </a>
                                </div>                                
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center cardB-OE" style="height: 45%; padding: 0.5rem 1.6rem;">
                                <a href="{% url 'product_detail' featured_product_5.slug %}" style="color: inherit; text-decoration: none;">
                                    <h6 class="card-title title-limited"><strong>{{ featured_product_5.name }}</strong></h6>
                                    <div class="card-text title-price-mobile">
                                        {% if featured_product_5.discounted_price %}
                                            <del>${{ featured_product_5.price|format_cop }}</del>
                                            <strong class="text-primary"> ${{ featured_product_5.discounted_price|format_cop }}</strong>
                                        {% else %}
                                            <strong class="text-primary">${{ featured_product_5.price|format_cop }}</strong>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <!-- Producto por defecto -->
                            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 50%;">
                                <img src="./static/images/prom-camaras.png" class="card-img-top img-fluid" alt="Cámaras de vigilancia" style="padding-top: 1.8rem; max-width: 62%; height: auto;">
                                <span class="badge bg-danger position-absolute top-0 end-0 m-2">X2</span>
                                <!-- Contenedor de los íconos -->
                                <div class="icon-container position-absolute top-50 start-50 translate-middle">
                                    <img src="./static/images/cart-light.png" alt="Carrito de compras" class="cart-icon me-2">
                                    <img src="./static/images/eye-light.png" alt="Ver producto" class="eye-icon">
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center cardB-OE" style="height: 45%; padding: 0.5rem 1.6rem;">
                                <h6 class="card-title title-limited"><strong>Cámaras de vigilancia WIFI con Visión Nocturna X2</strong></h6>
                                <div class="card-text">
                                    <del>$2'000.000</del>
                                    <strong class="text-primary"> $120.000</strong>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

        
                <!-- Oferta 6 -->
                <div class="col-6 col-md-6 colC-OE" style="padding-left: 3px; margin-bottom: 6px;">
                    <div class="card h-100 shadow-sm p-0" style="min-height: 233px;">
                        {% if featured_product_6 %}
                            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 50%;">
                                <img src="{{ featured_product_6.image.url }}" class="card-img-top img-fluid" alt="{{ featured_product_6.name }}" style="padding-top: 1.5rem; max-width: 70%; height: auto;">
                                
                                {% if featured_product_6.discount_percentage %}
                                    <span class="badge bg-danger position-absolute top-0 end-0 m-2">
                                        OFERTA
                                    </span>
                                {% endif %}
                                
                                <!-- Contenedor de los íconos -->
                                <div class="icon-container position-absolute top-50 start-50 translate-middle">
                                    <!-- Icono para ver detalles del producto -->
                                    <a href="{% url 'product_detail' featured_product_6.slug %}" style="color: inherit; text-decoration: none;">
                                        <img src="./static/images/eye-light.png" alt="Ver producto" class="eye-icon">
                                    </a>
                                    <!-- Icono para añadir al carrito -->
                                    <a href="{% url 'add_to_cart' featured_product_6.id %}" style="color: inherit; text-decoration: none;">
                                        <img src="./static/images/cart-light.png" alt="Carrito de compras" class="cart-icon me-2">
                                    </a>
                                </div>    
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center cardC-OE" style="height: 45%; padding: 0.5rem 1.6rem;">
                                <a href="{% url 'product_detail' featured_product_6.slug %}" style="color: inherit; text-decoration: none;">
                                    <h6 class="card-title title-limited"><strong>{{ featured_product_6.name }}</strong></h6>
                                    <div class="card-text title-price-mobile">
                                        {% if featured_product_6.discounted_price %}
                                            <del>${{ featured_product_6.price|format_cop }}</del>
                                            <strong class="text-primary"> ${{ featured_product_6.discounted_price|format_cop }}</strong>
                                        {% else %}
                                            <strong class="text-primary">${{ featured_product_6.price|format_cop }}</strong>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <!-- Producto por defecto -->
                            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 50%;">
                                <img src="./static/images/prom-lampara.png" class="card-img-top img-fluid" alt="Lámpara Solar" style="padding-top: 1.5rem; max-width: 70%; height: auto;">
                                <span class="badge bg-danger position-absolute top-0 end-0 m-2">OFF</span>
                                <!-- Contenedor de los íconos -->
                                <div class="icon-container position-absolute top-50 start-50 translate-middle">
                                    <img src="./static/images/cart-light.png" alt="Carrito de compras" class="cart-icon me-2">
                                    <img src="./static/images/eye-light.png" alt="Ver producto" class="eye-icon">
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center cardC-OE" style="height: 45%; padding: 0.5rem 1.6rem;">
                                <h6 class="card-title title-limited"><strong>Lámpara Solar Todo en Uno 50W-500W</strong></h6>
                                <div class="card-text">
                                    <del>$2'000.000</del>
                                    <strong class="text-primary"> $120.000</strong>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

        
                <!-- Oferta 7 -->
                <div class="col-6 col-md-6 mb-4 colD-OE" style="padding: 0 3px;">
                    <div class="card h-100 shadow-sm p-0" style="min-height: 233px;">
                        {% if featured_product_7 %}
                            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 50%;">
                                <img src="{{ featured_product_7.image.url }}" class="card-img-top img-fluid" alt="{{ featured_product_7.name }}" style="padding-top: 1.8rem; max-width: 60%; height: auto;">
                                
                                {% if featured_product_7.discount_percentage %}
                                    <span class="badge bg-danger position-absolute top-0 end-0 m-2">
                                        OFERTA
                                    </span>
                                {% endif %}
                                
                                <!-- Contenedor de los íconos -->
                                <div class="icon-container position-absolute top-50 start-50 translate-middle">
                                    <!-- Icono para ver detalles del producto -->
                                    <a href="{% url 'product_detail' featured_product_7.slug %}" style="color: inherit; text-decoration: none;">
                                        <img src="./static/images/eye-light.png" alt="Ver producto" class="eye-icon">
                                    </a>
                                    <!-- Icono para añadir al carrito -->
                                    <a href="{% url 'add_to_cart' featured_product_7.id %}" style="color: inherit; text-decoration: none;">
                                        <img src="./static/images/cart-light.png" alt="Carrito de compras" class="cart-icon me-2">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center cardD-OE" style="height: 45%; padding: 0.5rem 1.6rem;">
                                <a href="{% url 'product_detail' featured_product_7.slug %}" style="color: inherit; text-decoration: none;">
                                    <h6 class="card-title title-limited"><strong>{{ featured_product_7.name }}</strong></h6>
                                    <div class="card-text title-price-mobile">
                                        {% if featured_product_7.discounted_price %}
                                            <del>${{ featured_product_7.price|format_cop }}</del>
                                            <strong class="text-primary"> ${{ featured_product_7.discounted_price|format_cop }}</strong>
                                        {% else %}
                                            <strong class="text-primary">${{ featured_product_7.price|format_cop }}</strong>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <!-- Producto por defecto -->
                            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 50%;">
                                <img src="./static/images/prom-bateria.png" class="card-img-top img-fluid" alt="Batería GEL" style="padding-top: 1.8rem; max-width: 60%; height: auto;">
                                <span class="badge bg-danger position-absolute top-0 end-0 m-2">OFF</span>
                                <!-- Contenedor de los íconos -->
                                <div class="icon-container position-absolute top-50 start-50 translate-middle">
                                    <img src="./static/images/cart-light.png" alt="Carrito de compras" class="cart-icon me-2">
                                    <img src="./static/images/eye-light.png" alt="Ver producto" class="eye-icon">
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center cardD-OE" style="height: 45%; padding: 0.5rem 1.6rem;">
                                <h6 class="card-title title-limited"><strong>Batería GEL de ciclo profundo Aokly 12V 40AH</strong></h6>
                                <div class="card-text">
                                    <del>$2'000.000</del>
                                    <strong class="text-primary"> $120.000</strong>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

        
                <!-- Oferta 8 -->
                <div class="col-6 col-md-6 mb-4 colE-OE" style="padding-left: 3px;">
                    <div class="card h-100 shadow-sm p-0" style="min-height: 233px;">
                        {% if featured_product_8 %}
                            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 50%;">
                                <img src="{{ featured_product_8.image.url }}" class="card-img-top img-fluid" alt="{{ featured_product_8.name }}" style="padding-top: 2rem; max-width: 50%; height: auto;">
                                
                                {% if featured_product_8.discount_percentage %}
                                    <span class="badge bg-danger position-absolute top-0 end-0 m-2">
                                        OFERTA
                                    </span>
                                {% endif %}
                                
                                <!-- Contenedor de los íconos -->
                                <div class="icon-container position-absolute top-50 start-50 translate-middle">
                                    <!-- Icono para ver detalles del producto -->
                                    <a href="{% url 'product_detail' featured_product_8.slug %}" style="color: inherit; text-decoration: none;">
                                        <img src="./static/images/eye-light.png" alt="Ver producto" class="eye-icon">
                                    </a>
                                    <!-- Icono para añadir al carrito -->
                                    <a href="{% url 'add_to_cart' featured_product_8.id %}" style="color: inherit; text-decoration: none;">
                                        <img src="./static/images/cart-light.png" alt="Carrito de compras" class="cart-icon me-2">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center cardE-OE" style="height: 45%; padding: 0.5rem 1.6rem;">
                                <a href="{% url 'product_detail' featured_product_8.slug %}" style="color: inherit; text-decoration: none;">
                                    <h6 class="card-title title-limited"><strong>{{ featured_product_8.name }}</strong></h6>
                                    <div class="card-text title-price-mobile">
                                        {% if featured_product_8.discounted_price %}
                                            <del>${{ featured_product_8.price|format_cop }}</del>
                                            <strong class="text-primary"> ${{ featured_product_8.discounted_price|format_cop }}</strong>
                                        {% else %}
                                            <strong class="text-primary">${{ featured_product_8.price|format_cop }}</strong>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <!-- Producto por defecto -->
                            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 50%;">
                                <img src="./static/images/prom-congelador.png" class="card-img-top img-fluid" alt="Congelador Solar" style="padding-top: 2rem; max-width: 50%; height: auto;">
                                <span class="badge bg-danger position-absolute top-0 end-0 m-2">OFF</span>
                                <!-- Contenedor de los íconos -->
                                <div class="icon-container position-absolute top-50 start-50 translate-middle">
                                    <img src="./static/images/cart-light.png" alt="Carrito de compras" class="cart-icon me-2">
                                    <img src="./static/images/eye-light.png" alt="Ver producto" class="eye-icon">
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center cardE-OE" style="height: 45%; padding: 0.5rem 1.6rem;">
                                <h6 class="card-title title-limited"><strong>Congelador Solar Doble Tapa 430LT - 710LT</strong></h6>
                                <div class="card-text">
                                    <del>$2'000.000</del>
                                    <strong class="text-primary"> $120.000</strong>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>               
    </div>
</div>

<!-- CATEGORIAS DESTACADAS VERSION ESCRITORIO-->
<div class="container mt-4 mb-5 d-none d-md-block">
    <!-- Título de la sección -->
    <div class="col-12 text-center mb-4">
        <h1 class="text-white py-3 rounded" style="font-weight: bold; font-size: 1.6rem; background-color: rgba(0, 0, 0, 0.282);">CATEGORÍAS DESTACADAS</h1>
    </div>

    <!-- Categorías -->
    <div class="row">
        <!-- Categoría 1: Sistemas Fotovoltaicos -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 category-card">                
                <img src="./static/images/sist-fotovoltaicos.png" class="card-img-top img-fluid rounded-top" alt="Sistemas Fotovoltaicos" style="min-height: 200px;">
                <div class="card-body d-flex flex-column justify-content-between" style="min-height: 60%;">
                    <h4 class="card-title text-center">Sistemas Fotovoltaicos</h4>
                    <p class="card-text px-2">
                        Soluciones solares para hogares y empresas. Sistemas conectados a la red o aislados con almacenamiento. La opción ideal para cada necesidad.
                    </p>
                    <div class="btn d-flex justify-content-center m-0 p-3">
                        <a href="{% url 'products' %}#sistemas-fotovoltaicos"  class="btn-categoria btn btn-lg">Ver Sistemas Fotovoltaicos</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Categoría 2: Electrodomésticos Solares -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 category-card">
                <img src="./static/images/electrodomesticos.png" class="card-img-top img-fluid rounded-top" alt="Electrodomésticos Solares" style="min-height: 200px;">
                <div class="card-body d-flex flex-column justify-content-between" style="min-height: 60%;">
                    <h4 class="card-title text-center">Electrodomésticos Solares</h4>
                    <p class="card-text px-2">
                        Electrodomésticos diseñados para funcionar con energía solar. Desde refrigeradores hasta aires acondicionados, descubre opciones eficientes y sostenibles.
                    </p>
                    <div class="btn d-flex justify-content-center m-0 p-3">
                        <a href="{% url 'products' %}#electrodomesticos-solares" class="btn-categoria btn btn-lg">Ver Electrodomésticos</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Categoría 3: Conectividad y Seguridad -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 category-card">
                <img src="./static/images/conectividad.png" class="card-img-top img-fluid rounded-top" alt="Conectividad y Seguridad" style="min-height: 200px;">
                <div class="card-body d-flex flex-column justify-content-between" style="min-height: 60%;">
                    <h4 class="card-title text-center">Conectividad y Seguridad</h4>
                    <p class="card-text px-2">
                        Soluciones de conectividad y seguridad para hogar o negocio. Desde routers y cámaras hasta sistemas de domótica, mejora tu red y privacidad.
                    </p>
                    <div class="btn d-flex justify-content-center m-0 p-3">
                        <a href="{% url 'products' %}#conectividad-y-seguridad" class="btn-categoria btn btn-lg">Explorar Productos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CATEGORIAS DESTACADAS VERSION MOVIL-->

<div class="container mt-4 d-md-none">
    <!-- Título de la sección -->
    <div class="col-12 text-center">
        <h1 class="text-white py-3 rounded" style="font-weight: bold; font-size: 1.6rem; background-color: rgba(0, 0, 0, 0.282);">CATEGORÍAS DESTACADAS</h1>
    </div>
</div>

<div id="customCardCarousel" class="carousel slide carousel-custom d-md-none mb-4" data-bs-ride="carousel" data-bs-interval="50000">
    <!-- Contenedor de las cards -->
    <div class="carousel-inner carousel-custom-inner">
        <!-- Item 1 -->
        <div class="carousel-item active carousel-custom-item">
            <div class="card-custom">
                <img src="./static/images/sist-fotovoltaicos.png" class="card-custom-img" alt="Sistemas Fotovoltaicos">
                <div class="card-custom-body">
                    <h4 class="card-custom-title">Sistemas Fotovoltaicos</h4>
                    <p class="card-custom-text">
                        Soluciones solares para hogares y empresas. Sistemas conectados a la red o aislados con almacenamiento. La opción ideal para cada necesidad.
                    </p>
                    <a href="{% url 'products' %}#sistemas-fotovoltaicos" class="card-custom-btn">Ver Sistemas Fotovoltaicos</a>
                </div>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="carousel-item carousel-custom-item">
            <div class="card-custom">
                <img src="./static/images/electrodomesticos.png" class="card-custom-img" alt="Electrodomésticos Solares">
                <div class="card-custom-body">
                    <h4 class="card-custom-title">Electrodomésticos Solares</h4>
                    <p class="card-custom-text">
                        Electrodomésticos diseñados para funcionar con energía solar. Desde refrigeradores hasta aires acondicionados, descubre opciones eficientes y sostenibles.
                    </p>
                    <a href="{% url 'products' %}#electrodomesticos-solares" class="card-custom-btn">Ver Electrodomésticos</a>
                </div>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="carousel-item carousel-custom-item">
            <div class="card-custom">
                <img src="./static/images/conectividad.png" class="card-custom-img" alt="Conectividad y Seguridad">
                <div class="card-custom-body">
                    <h4 class="card-custom-title">Conectividad y Seguridad</h4>
                    <p class="card-custom-text">
                        Soluciones de conectividad y seguridad para hogar o negocio. Desde routers y cámaras hasta sistemas de domótica, mejora tu red y privacidad.
                    </p>
                    <a href="{% url 'products' %}#conectividad-y-seguridad" class="card-custom-btn">Explorar Productos</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev carousel-custom-control-prev" type="button" data-bs-target="#customCardCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon carousel-custom-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next carousel-custom-control-next" type="button" data-bs-target="#customCardCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon carousel-custom-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>





<style>

.carousel-custom {
    width: 100%;
    height: 5% !important;
    margin: auto;
}

.carousel-custom-inner {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    height: 480px !important;
    
}

.carousel-custom-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in-out;
    height: 100% !important;
}
.carousel-item:not(.active) {
    height: 100% !important;
    
}

/* Estilo para los elementos en espera (próximo y anterior) */
.carousel-item-next,
.carousel-item-prev {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.9); 
    opacity: 0.8; 
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-custom-control-prev-icon, .carousel-custom-control-next-icon {
    background-color: #0000004d;
    border-radius: 50%; /* Redondea el ícono */

}

.card-custom {
    width: 95%;
    background: #ffffff;
    border-radius: 10px;
    
}

.card-custom-img {
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.card-custom-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 20px 30px;
}

.card-custom-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-custom-text {
    font-size: 1rem;
    margin-bottom: 15px;
}

.card-custom-btn {
    width: 100%;
    text-align: center;
    padding: 8px 15px;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    background-color: #96c952;
    border-radius: 10px;
    text-decoration: none;
}


/***************************************************************************/

    /* Estilo para hacer que el banner del carrusel ocupe toda la pantalla */

    .carousel, .carousel-inner, .carousel-item {
        height: 100vh; 
        width: 100vw;  
    }

    .carousel-item img {
        object-fit: cover; 
        height: 100vh; 
        width: 100%;
        
    }

    .carousel-caption {
        z-index: 2;
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100%; 
        text-align: center;
        color: #fff; 
    }

    /* Estilos del título */
    .carousel-title {
        font-size: 3.5rem; 
        font-weight: bolder;
        line-height: 1;
        margin-bottom: 1.8rem;
        margin-top:1.5rem;
    }

    /* Estilos del subtítulo */
    .carousel-subtitle {
        font-size: 1.6rem; 
        font-weight: lighter;
        padding: 0 10rem;
        line-height: 1;
        margin-bottom: 2rem;
    }

    .carousel-title2 {
        font-size: 3.5rem;
        font-weight: bolder;
        line-height: 1;
        margin-bottom: 1.8rem;
        margin-top:1.5rem;
    }

    /* Estilos del subtítulo */
    .carousel-subtitle2 {
        font-size: 1.6rem; 
        font-weight: lighter;
        line-height: 1;
        margin: 0 20rem 2.2rem 0;
    }

    .carousel-indicators [data-bs-target] {
        border-radius: 50%; 
        background-color: rgba(255, 255, 255, 0.253);
        border: none;
        margin: 5px; 
        padding: 5px;
        width: 8px; 
        height: 8px;
    }

    .carousel-indicators .active {
        background-color: rgba(255, 255, 255, 0.49); 
        width: 8px;  
        height: 8px; 
        border: none;
    }

    .boton-expert {
        padding: 10px 30px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 50px;
    }

    .boton-cotizacion {
        background-color: #96c952;
        color: white;
        padding: 10px 30px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 50px;   
    }

    .boton-cotizacion:hover {
        background-color: #88c13e;
    }

    /*-----------------Estilos para las tarjetas de productos --------------*/


    .btn {
        border-radius: 50px;
        font-weight: bold;
        white-space: nowrap; /* Evitar que el texto se rompa */
    }

    .btn-success {
        background-color: #96c952;
        color: white;
        border: none;
    }

    .btn-success:hover {
        background-color: #88c13e;
    }

    .card-body h3, .card-body h4 {
        font-weight: bold;
    }


    /* -----------------Estilos para la sección de ofertas especiales --------------------*/

    .title-limited {
        display: -webkit-box; 
        -webkit-line-clamp: 2; 
        line-clamp: 2; 
        -webkit-box-orient: vertical; 
        overflow: hidden;
        text-overflow: ellipsis; /* Añade "..." al final si el texto es demasiado largo */
        height: calc(1.2em * 2); 
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem; 
        opacity: 0; 
        transition: opacity 0.3s ease;
        padding-top: 1.5rem;
    }

    .icon-container img {
        width: 40px; 
        height: 40px;
        background-color: rgba(255, 255, 255, 0.926); 
        padding: 4px;
        border-radius: 50%;
        transition: transform 0.3s ease, content 0.3s ease, background-color 0.4s ease;
    }

    .cart-icon:hover{
        transform: scale(1.2);
        content: url('./static/images/cart-dark.png'); 
        background-color: #96c953df;
    }
    
    .eye-icon:hover {
        transform: scale(1.2); 
        content: url('./static/images/eye-dark.png'); 
        background-color: #96c953df;
    }

    .card:hover .icon-container {
        opacity: 1; 
    }

    /* -----------------Estilos para las categorías destacadas --------------------*/

/* Asegurar que las tarjetas tengan la misma altura */
.category-card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.category-card:hover {
    transform: translateY(-10px); /* Efecto hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}

/* Estilo personalizado para los botones */
.btn-categoria {
    background-color: #96c952;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-categoria:hover {
    background-color: #88c13e;
    color: white;
}

.navbar{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.mobile-title {
        display: none;
    }
.imgA-mobile {
        display: none;
    }

.textoAzul{
    color: #0d6efd;
    font-weight: bold !important; 
}

.product-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limita a 2 líneas */
    line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    width: 100%; 
    white-space: normal; 
    font-size: 1.1rem;
    height: 2.5em;
}
    
@media (max-width: 768px) {

    .navbar-collapse {
        background-color: rgba(17, 17, 17, 0.671); /* Cambia el color de fondo del menú desplegable */
        padding: 20px;
    }

    .navbar-collapse .nav-link {
        color: white; 
    }

    /* Estilos carousel para dispositivos móviles */
    .carousel-title{
        font-size: 2.31rem;
        margin-top: -20px;
    }
    .carousel-title2 {
        font-size: 2.31rem;
        margin-top: -20px;
        text-align: start;
    }
    .desktop-title {
        display: none;
    }
    .mobile-title {
        display: block;
    }
    .carousel-subtitle{
        font-size: 1.2rem;
        padding: 0;
        margin-right: 0;
    }
    .carousel-subtitle2 {
        font-size: 1.2rem;
        text-align: start;
        padding: 0;
        margin-right: 0;
    }
    
    .imagen2 {
        object-position: 85% 0; 
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradado oscuro */
        pointer-events: none; 
        z-index: 1;
    }
    
    .boton-expert {
        padding: 10px 30px;
        font-size: 1.2rem;
    }

    .boton-cotizacion {
        font-size: 1.2rem;
    }
/* ******** ******* *********** ****************** ******** ***********************************/
    .imgA-desktop {
        display: none;
    }
    .rowBig{
        margin-bottom:0 !important; 
        display: flex;
        flex-wrap: wrap;
        row-gap: 6px; 
    }
    .colA{
        padding: 0 12px !important;
    }
    .cardA{
        padding: 8% !important;
    }
    .rowA {
        display: flex;
        flex-direction: column; /* Elementos apilados verticalmente en móvil */
    }
    .ordenA {
        display: flex;
        flex-direction: column; 
    }
    .ordenA h1 {
        order: 1;
        text-align: center;
        margin-top: 0.2rem;
    }
    .imgA-mobile {
        order: 2; /* Imagen después del título */
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .ordenA h3 {
        order: 3; /* Precio después de la imagen */
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .ordenA p {
        order: 4; /* Descripción después del precio */
        margin-top: 0 !important;
        margin-bottom: 0.4rem;
    }
    .ordenA a {
        order: 5; /* Botón al final */
    }
    .imgA {
        max-height: 250px !important;
    }


    .colC{
        padding-left: 3px !important;
    }
    /* Productos pequeños lado a lado */
    .colB{
        margin:0 !important;
        padding-right: 3px !important;
    }
    .cardB{
        padding: 6% !important;
    }
    .imgB{
        aspect-ratio: 1/1 !important;
        object-fit: contain;
        max-width: 130px !important;
        height: auto;
    }
    .contenidoB h3 {
        text-align: center;
        font-size: 1.19rem !important;
        color:rgb(78, 75, 75) !important;
    }
    .contenidoB h4 {
        font-size: 1.2rem !important;
    }
    .contenidoB a {
        font-size: 1rem !important;
        width: 100% !important;
    }
    
    .contenedorBC{
        height: 130px;
        width: 150px;
        object-fit: contain;    
    }

    .cardC{
        padding: 6% !important;
    }
    .imgC{
        
        max-width: 150px !important;
        height: auto;
    }
    .contenidoC h3 {
        text-align: center;
        font-size: 1.19rem !important;
        color:rgb(78, 75, 75) !important;
    }
    .contenidoC h3 span {
        display: none;
    }
    .contenidoC h4 {
        font-size: 1.2rem !important;
    }
    .contenidoC a {
        font-size: 1rem !important;
        width: 100% !important;
    }

    .title-price-mobile {
        font-size: 0.9rem;
    }

/******************* Beneficios adicionales *********************** */

    /* Estilo para las imágenes */
    .benefit-img {
        max-width: 40px;
        height: auto;
        object-fit: contain;
    }

    /* Títulos */
    .benefit-title {
        color:#333;
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .container-icons {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #ebecec6c; 
    }

/********************** Ofertas especiales *********************/

    .colA-OE {
        padding-right: 12px !important;
        margin-bottom: 6px !important;
    }
    .boton-oferton {
        width: 100% !important;
        font-size: 1rem;
    }
    .colB-OE, .colD-OE{
        padding-left: 12px !important; 
    }

    .cardA-OE {
        padding: 1.5rem 1.2rem 1.5rem 1.2rem !important;
    }

    .cardB-OE, .cardC-OE, .cardD-OE, .cardE-OE {
        padding: 0.5rem 0.7rem !important;
    }
}
</style>
{% endblock content %}
